body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.flex-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.title-text {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.margin-big {
    margin: 2rem 0;
}

.poster-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display img {
    aspect-ratio: 0.75;
    height: 650px;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

#search-results-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 1200px) {
    #search-results-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #search-results-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #search-results-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.album {
    width: 200px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
}

.album:hover {
    transform: scale(1.05);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}